{% extends "layout.html" %}

{% block title %}
    Test
{% endblock %}

{% block main %}
    <div class="spinner-grow text-success" role="status">
        <span class="visually-hidden">Loading...</span>
    </div>
    <h1> Your Internet Speed is </h1>
    <h3> Download: {{download_speed}} Mbps</h3>
    <h3> Upload: {{upload_speed}} Mbps</h3>
    <!-- <h3> Latency: {{latency}}</h3> -->
    <h3> Ping: {{ping}} ms </h3>
    <h3> Sponsor: {{sponsor}} ms</h3>

    <button onclick="location.reload()">Test Again</button>

    <div class="fixed-bottom footer-custom">
        <p class="footer-para"><small>
            While this test provides valuable insights into your network speed, it's important to note that
            the methods employed here are not as complex as other commercial speedtest.
            As such, the results may not align perfectly with those obtained through more sophisticated commercial speedtests.
        </small></p>
    </div>
{% endblock %}